dist: trusty
language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
before_install:
  - sudo add-apt-repository ppa:teward/swig3.0 -y
  - sudo apt-get update -qq
  - sudo apt-get install -y swig3.0
  - sudo apt-get install -y libcoin80
  - sudo apt-get install -y libcoin80-dev
  - sudo apt-get install -y libsoqt4-dev
  - sudo apt-get install -y libsimage-dev
  - sudo apt-get install -y libshiboken-dev
  - sudo apt-get install -y python3-pyside
  - sudo apt-get install -y python-pyside
  - sudo ln -s /usr/bin/swig3 /usr/bin/swig

install:
  - python setup.py install

script:
  - python tests/coin_tests.py

branches:
  only:
    - master
