include AUTHORS ChangeLog LICENSE THANKS README
include SConstruct
include sogui.py
recursive-include Inventor *.i *.win32 *.fix
recursive-include fake_headers *.h
recursive-include interfaces *.i
graft docs
graft examples
graft interfaces
graft scons
graft SoPyScript
