include AUTHORS ChangeLog LICENSE THANKS
include pivy.i pivy_common_typemaps.i soqt.i soxt.i sogtk.i sowin.i sogui.py
recursive-include Inventor *.i
graft docs
graft examples
recursive-include fake_headers *.h
