name: lint-install-test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-linux:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 3
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        py: ["3.7", "3.8", "3.9"]

    steps:
    - uses: actions/checkout@v2
      name: Checkout

    - uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true

    - name: install packages
      run: |
        conda install flake8 conda-build

    # - if: matrix.os == 'ubuntu-latest'
    #   name: Lint with flake8
    #   run: |
    #     flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics --exclude=.svn,CVS,.bzr,.hg,.git,__pycache__,.tox,.eggs,*.egg,scons,SoPyScript

    - name: create package with conda
      run: |
        cd packaging;
        conda build . -c conda-forge --python=${py}