name: lint-build-test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_n_lint:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 9
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
    - uses: actions/checkout@v2
      name: Checkout

    - uses: prefix-dev/setup-pixi@v0.9.0
      with:
        pixi-version: v0.53.0
        cache: false
    - run: pixi run lint
    - run: pixi run test
